{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Registrate{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="username">Crear nombre de usuario</label>
  <input name="username" id="username" required />
  <label for="username">Ingresá email</label>
  <input name="username" id="username" required />
  <label for="password">Crear una contraseña</label>
  <input type="password" name="password" id="password" required />
  <label for="password">Verificar contraseña</label>
  <input type="password" name="password" id="password" required />
  <input type="submit" value="Registrate" />
</form>
{% endblock %}
